*{
    margin: 0px;
    padding: 0px;
}

div#header{
    width: 100%;
    background-image:url("/images/header.jpg");
    height: 158px;
    background-position: center;
}

div#menu{
    background-color: #A8B326;
    height: 36px;
    background-image:url("/images/menubg.png");
    background-repeat:repeat-x;
}

div#content{
    float:left;
    width: 100%;
}

div#title{
    width: 900px;
    margin: 10px auto 0px auto;
    background-color: #4F6573;
    border: 5px solid;
    border-color: #4F6573;
    border-radius: 5px;
    padding: 5px;
    text-align:center;
    font-size: 20px;
    color: white;
    font-family: Arial,sans-serif;
}

div#mainPageContent{
    margin: 5px auto 0 auto;
    width: 1200px;
}