*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

body{
    color:white;
}

table.align tr td {
    text-align:left!important;
}

div#header{
    width: 100%;
    background-image:url("/images/header.jpg");
    height: 158px;
    background-position: center;
}

div#nav{
    background-color: #A8B326;
    height: 36px;
    background-image:url("/images/navigatue.jpg");
    background-repeat:repeat-x;
    border-top: 0px solid #A8B326;
border-bottom: 0px solid #A8B326;
}

div#content{
    float:left;
    width: 100%;
}

div#title{
    width: 900px;
    margin: 10px auto 0px auto;
    background-color: #4F6573;
    border: 5px solid;
    border-color: #4F6573;
    border-radius: 5px;
    padding: 5px;
    text-align:center;
    font-size: 20px;
    color: white;
    font-family: Arial,sans-serif;
}

div#mainPageContent{
    margin: 5px auto 0 auto;
    width: auto;
}