.menu ul
{
list-style:none;
}
.menu ul,.menu li
{
margin:0;
padding:0;
}
.menu a.menu-item span.additional-background,.menu a.menu-item span.menu-item-text
{
cursor:pointer;
}
.menu .menu-item,
.menu .menu-item .additional-background,
.menu .menu-item .additional-background .menu-item-text
{
display:block;
}
.menu li.hover,.menu li.hover-off
{
position:relative;
z-index:100;
}
.menu-horizontal .menu-item-text
{
white-space:nowrap;
}
.menu-horizontal ul.static
{
display:inline;
}
.menu-horizontal li.static,
.menu-horizontal a.static,
.menu-horizontal span.static
{
float:left;
}
.menu-horizontal
{
display:table;
zoom:1;
}
.menu-horizontal a.dynamic-children span.additional-background,
.menu-horizontal span.dynamic-children span.additional-background
{
background-image:none;
background-repeat:no-repeat;
background-position:right center;
}


.menu-horizontal ul.dynamic a.dynamic-children span.additional-background,
.menu-horizontal ul.dynamic span.dynamic-children span.additional-background
{
padding-right:15px;
background-image:url('/_layouts/images/roc/menu-right.png');
}
.menu ul.dynamic
{
position:absolute;
left:-999em;
}
.menu-popup
{
position:relative;
}
.menu span.dynamic,
.menu a.dynamic
{
background-color:#4c6172 !important; /*ROC submenu*/
color:#fff;
padding-top:10px !important;
font-size:12px;
min-width:150px;
min-height:20px;
}

.menu a.dynamic:hover
{
color:#bac91c !important; /*ROC hover toegevoegd submenu*/
}

*:first-child + html[dir="rtl"] .menu-horizontal
{
direction:ltr;
}
*:first-child + html[dir="rtl"] .menu-horizontal .menu-item
{
direction:rtl;
}
*:first-child + html[dir="rtl"] .menu-horizontal li.static
{
float:none;
display:inline;

}
*:first-child + html[dir="rtl"] .menu-horizontal li.static .additional-background
{
zoom:1;
}
